 tailored gitignore for this project. Do not use this for other TeX project

# project specific ignore
BA_rumpf*
deckblattAbschlussarbeitBioinformatik2.sty

# common TeX ignore
*.aux
*.log
*.pdf
*.gz
